<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :full_name %>
    <%= f.input :username %>
    <%= f.input :age %>
    <%= f.input :gender %>
    <%= f.input :address %>
    <%= f.input :photo %>
    <%= f.input :bio %>
    <%= f.input :soundcloud_link %>
    <%= f.input :youtube_link %>
    <%= f.input :personal_website %>
    <%= f.input :is_live, label: "Open to play live" %>
    <%= f.input :is_recording, label: "Open to record" %>
    <%= f.input :is_jamming, label: "Open to jam"  %>
    <%= f.input :is_composition, label: "Open to compose" %>
    <%= f.input :is_covers, label: "Open to play covers" %>
    <%= f.input :is_pro, label: "Professional musician"   %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

