<% n = 0 %>
<% unless @conversations.nil? %>
  <% @conversations.each do |conversation| %>
    <% unless conversation.messages.count == 0 %>
      <% n += 1 %>
    <% end %>
  <% end %>
<% end %>


<% if @conversations.nil? %>
  <h3 style="color: white">No conversations</h3>
<% elsif @conversations.count == 1 %>
  <h1 class="subtitle margin"> <strong>1 conversation</h1>
<% else %>
  <h1 class="subtitle margin"> <strong><%= n %></strong> conversations</h1>
<% end %>
<br>

<% unless @conversations.nil? %>
  <div class="allConversations">


  <% conv_with_date = [] %>
  <% @conversations.each do |conversation| %>
    <% unless conversation.messages.count == 0 %>
      <% conv_with_date << [conversation, conversation.messages.last.updated_at] %>
      <% end %>
  <% end %>

  <% unless conv_with_date == [] %>
    <% conversations_ordered = conv_with_date.sort_by { |e| e[1] }.reverse %>

      <% conversations_ordered.each do |conv_and_time| %>
        <% conversation = conv_and_time[0] %>

        <% if conversation.user1 == current_user %>
            <% friend = conversation.user2  %>
        <% else %>
            <% friend = conversation.user1%>
        <% end %>

        <% if conversation.messages.find { |m| m.unread == true }  %>
        <div class="conversation margin unread">

          <div class= "friendAvatar">
            <%= cl_image_tag(friend.photo,class: "") %>
          </div>
          <div class = "message-pack">
            <div class="name-and-time">
              <div><%= link_to friend.full_name.split.map(&:capitalize).join(' '),conversation_path(conversation.id) %></div>
              <div style="font-weight: bold;"><%= conversation.messages.last.updated_at.strftime("%B %-d %-l:%M %p") %></div>
            </div>
            <div class="last-message">
              <% unless conversation.messages.last.msg.nil? %>

              <%= conversation.messages.last.msg.split("").count >= 50 ? conversation.messages.last.msg.first(50)... : conversation.messages.last.msg %>
              <% end %>
            </div>
          </div>
        </div>
        <% else %>
        <div class="conversation margin">

          <div class= "friendAvatar">
            <%= cl_image_tag(friend.photo,class: "") %>
          </div>
          <div class = "message-pack">
            <div class="name-and-time">
              <div><%= link_to friend.full_name.split.map(&:capitalize).join(' '),conversation_path(conversation.id) %></div>
              <div style="font-weight: bold;"><%= conversation.messages.last.updated_at.strftime("%B %-d %-l:%M %p") %></div>
            </div>
            <div class="last-message">
              <% unless conversation.messages.last.msg.nil? %>

              <%= conversation.messages.last.msg.split("").count >= 50 ? conversation.messages.last.msg.first(50)... : conversation.messages.last.msg %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>


<!-- Ordonner par date -->
<!-- Rendre toute la carte cliquable -->
<!-- Changer de classe quand c'est "lu" -->
<!-- Notification lorsque nouveau message -->

















