<div style="height: 52px;">
<!-- NOTIFICATION for messages-->
    <% @conversations = Conversation.where(user1: current_user).or Conversation.where(user2: current_user) %>
      <% c = 0 %>
      <% @conversations.each do |con| con.messages.each do |m| %>
          <% c += 1 if (m.user != current_user && m.unread) %>
        <%end%>
      <%end%>
    <% unless c == 0 %>
      <div class="badge">
        <%= link_to  conversations_path do %>
          <div class="badge-text">
            <i class="far fa-comment"></i> <%= c %>
          </div>
        <% end %>
      </div>
    <% end %>
  <%= image_tag "hamburger.png", class: "avatar dropdown-toggle", style: "position: absolute; top:24px; right: 16px", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>


  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% if user_signed_in? %>
      <%= link_to "Home", home_path, class: "dropdown-item" %>
      <%= link_to "Profile", dashboard_path(current_user), class: "dropdown-item" %>
      <%= link_to "Messages", conversations_path, class: "dropdown-item" %>
      <%= link_to "My Stars", "/stars", class: "dropdown-item" %>
      <%= link_to "My Bands", mybands_path, class: "dropdown-item"  %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
    <% end %>
  </div>
</div>
