<%= image_tag current_user.photo, class: "userphoto" %>


  <div class="userbanner">
    <%= current_user.full_name %>
  <br>
    <%= current_user.address %>
  </div>

<%= link_to "My Bands", mybands_path %>
<%= link_to "Edit Profile", edit_path %>

<%= link_to "Add Conversation", new_conversation_path %>

<div class="tabs">
    <div class="tab-2">
      <label for="tab2-1">BIO</label>
      <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <div>
      <p><strong><%=  @musician.bio %></strong>
      <br>
      <br>
      Youtube link: <strong><%=  @musician.youtube_link %></strong>
      <br>
      Personal website: <strong><%=  @musician.personal_website %></strong>
      <br>
      Soundcloud link: <strong><%=  @musician.soundcloud_link %></strong></p>
    </div>
    <%= link_to "message ME" ,conversation_path(@musician)%>
  </div>
    <div class="tab-2">
      <label for="tab2-2">DETAILS</label>
      <input id="tab2-2" name="tabs-two" type="radio">
    <div>
      <p>Open to play live: <strong><%= @musician.is_live %></strong>
      <br>
      Open to album recording: <strong><%= @musician.is_recording %></strong>
      <br>
      Open for just jamming: <strong><%= @musician.is_jamming %></strong>
      <br>
      Open to composing: <strong><%= @musician.is_composition %></strong>
      <br>
      Open to playing covers:  <strong><%= @musician.is_covers %></strong>
      <br>
      </p>
    </div>
  </div>
