<%= image_tag current_user.photo, class: "userphoto" %>


  <div class="userbanner">
    <%= current_user.full_name %>
  <br>
    <%= current_user.address %>
  </div>

<%= link_to "My Bands", mybands_path %>
<div class="tabs">
    <div class="tab-2">
      <label for="tab2-1">BIO</label>
      <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <div>
      <p><strong><%=  @musician.bio %></strong>
      <br>
      <br>
      Youtube link: <strong><%=  @musician.youtube_link %></strong>
      <br>
      Personal website: <strong><%=  @musician.personal_website %></strong>
      <br>
      Soundcloud link: <strong><%=  @musician.soundcloud_link %></strong></p>
    </div>
  </div>
    <div class="tab-2">
      <label for="tab2-2">DETAILS</label>
      <input id="tab2-2" name="tabs-two" type="radio">
    <div>
      <p>Open to play: <strong><%= "Live" if @musician.is_live? %></strong>
      <br>
       <strong><%= "Recording" if @musician.is_recording? %></strong>
      <br>
       <strong><%= "Jamming" if @musician.is_jamming? %></strong>
      <br>
       <strong><%= "Composition" if @musician.is_composition? %></strong>
      <br>
      <strong><%=  "Covers" if @musician.is_covers? %></strong>
      <br>
      </p>
    </div>
  </div>
