<%= image_tag current_user.photo, class: "userphoto" %>


  <div class="userbanner">
    <%= current_user.full_name %>
  <br>
    <%= current_user.address %>
  </div>


<div class="tabs">
    <div class="tab-2">
      <label for="tab2-1">BIO</label>
      <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <div>
      <p><strong><%=  @musician.bio %></strong>
      <br>
      <br>
      <strong> <i class="fab fa-youtube"></i><%= link_to "Youtube link", @musician.youtube_link %></strong>
      <br>
       <strong><i class="fas fa-wifi"></i><%= link_to "Personal website", @musician.personal_website %></strong>
      <br>
      <strong><i class="fab fa-soundcloud"></i>
      <%= link_to "Soundcloud link", @musician.soundcloud_link %></strong></p>
    </div>
  </div>
    <div class="tab-2">
      <label for="tab2-2">DETAILS</label>
      <input id="tab2-2" name="tabs-two" type="radio">
    <div>
      <ul> Open to play:
        <%if @musician.is_live? %> <li><strong>Live</strong> <% end %></li>
        <% if @musician.is_recording? %> <li> <strong>Recording</strong> </li><% end %>
       <%if @musician.is_jamming? %>  <li> <strong>Jamming</strong> </li><% end %>
         <%if @musician.is_composition? %><li> <strong>Composition</strong></li> <% end %>
       <%if @musician.is_covers? %> <li> <strong>Covers</strong> </li><% end %>
      </ul>
    </div>
  </div>
