<%# raise %>

<div class="card-band">
  <%= link_to(cl_image_tag(result[0].band_photos.first.photo, class: "bandphoto", style: "width: 100%; height: 20vh; object-fit: cover; border-radius"), band_path(result[0])) %>
  <div class="card-band-infos">

    <!-- checkbox for stars -->

    <% unless current_user.nil? %>
    <div class="star">
      <%= button_to stars_path(result[0]), method: :post, id:"favorite_link-#{result[0].id}",remote:true  do %>
      <% if result[0].favorited_by?(current_user) %>
      <i class="fas fa-star"></i>
      <% else %>
      <i class="far fa-star"></i>
      <% end %>
      <% end %>
    </div>
    <% end %>
    <div class="card-band-infos">
      <!-- checkbox for stars -->
      <!-- checkbox for stars -->
      <div class="band-header">
       <!-- checkbox for stars -->
       <p><strong><%= result[0].name %></strong></p>
     </div>
     <div class="band-card-footer">
      <div class="d-flex flex-column">
        <li class="no-bullet styles-container">
          <% result[0].styles.each_with_index do |style, i| %>
          <span class="styles"><%= style.name %></span>
          <% end %>
        </li>
        <li class="no-bullet">
          looking for :<% result[0].instruments.each do |instrument| %>
          <%= instrument.name %>
          <% end %>
        </li>

        <% new_score = 0 %>
        <% new_score += result[0].styles.count %>
        <% new_score += 6 %>
        <% score = ((result[1].to_f / new_score.to_f) * 100).to_i %>


          <input type="text" value="<%= score %>" class="dial">

          <span>%</span>

      </div>


    </div>

  </div>
</div>
</div>



