<!-- <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:220px; left: 450px; bottom:0; width:100%; }
</style> -->
<!-- cdn link to paste in your <head> -->
<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"></head>
<!-- band search -->

<!-- text -->

<% unless @accepted_bands_with_scores_sorted == nil %>

  <div class="margin">
    <h3 class="title"><strong><%= @accepted_bands_with_scores_sorted.count %></strong> search results</h3>
      <div>
        <div style="display: flex;">
          <div class="row">

            <% accepted_bands_with_matches = Hash.new() %>
            <% accepted_bands_with_matches_sorted = nil %>
            <% @accepted_bands_with_scores_sorted.each do |b| %>
              <% band = b[0] %>
              <% score = b[1] %>

              <% max_match = 0 %>
              <!-- instrument -->
              <% max_match += 10 %>
              <!-- location -->
              <%  %>
              <!-- distance -->
              <%  %>
              <!-- styles -->
              <% max_match += band.styles.count %>
              <!-- experience -->
              <% max_match += 1 %>
              <!-- open to -->
              <% max_match += 5 %>

              <% accepted_bands_with_matches[band] = ((score.to_f / max_match.to_f) * 100).to_i %>
              <% accepted_bands_with_matches_sorted = accepted_bands_with_matches.to_a.sort_by { |e| e[1] }.reverse %>


            <% end %>

            <% accepted_bands_with_matches_sorted.each do |b| %>

            <% band = b[0] %>
            <% score = b[1] %>

                <% unless score == 0 %>
                  <div class="column">
                    <div class="card-band">
                      <%= link_to(cl_image_tag(band.band_photos.first.photo, class: "bandphoto", style: "width: 100%; height: 20vh; object-fit: cover; border-radius"), band_path(band)) %>
                      <div class="card-band-infos">
                        <!-- checkbox for stars -->
                      <% unless current_user.nil? %>
                        <%= button_to stars_path(band), method: :post, id:"favorite_link-#{band.id}",remote:true  do %>
                          <% if band.favorited_by?(current_user) %>
                            <i class="fas fa-star"></i>
                          <% else %>
                            <i class="far fa-star"></i>
                          <% end %>
                        <% end %>
                      <% end %>
                       <!-- checkbox for stars -->
                        <p><strong><%= band.name %></strong></p>
                        <li style="list-style-type:none;">
                          <% band.styles.each_with_index do |style, i| %>
                            <%= style.name %><%= i == band.styles.count - 1 ? "" : ", " %>
                          <% end %>
                        </li>
                        <li style="color: red; list-style-type:none;">
                          <% band.instruments.each do |instrument| %>
                            <%= instrument.name %>
                          <% end %>
                        </li>
                        <i class="fas fa-map-marker-alt"></i> <%= band.distance_to(@address).round(1) %> km
                        <p><strong><%= b[1] %> % match</strong></p>


                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <% @results = [] %>
            <% @accepted_bands_sorted.each do |b| %>
              <% @results.push(b.id) %>
            <% end %>
      </div>

    <%= link_to(image_tag("mapicon.png", size: "70"), map_path({results: @results}), :class => "mapbtn") %>
    <% end %>
  </div>

<!-- musician search -->

<!-- text -->
<% unless @musicians.nil? %>

  <div class="card-container">

  <div class="container">
    <h1 class="title">Musicians</h1>
      <div class="d-flex">
        <ul style='padding-inline-start: 0px;'>
          <% @musicians.each do |musician| %>
            <div class="card-product">
              <li><%= link_to musician.username, public_profile_path(musician) %></li>
              <div class="card-product-infos">
                <li> musician.bio%></li>
              </div>
            </div>
          <% end %>
        </ul>


    <% @results = [] %>
    <!-- convert to hash -->
    <% @musicians.each do |m| %>
    <% @results.push(m.id) %>
      <%# musician = {} %>
      <%# musician["lat"] = m.latitude%>
      <%# musician["long"] = m.longitude %>
      <%# musician["address"] = m.address %>
      <%# musician["username"] = m.username %>
      <%# @results.push(musician) %>
    <% end %>

      <%= link_to "See map", map_path({results: @results}) %>

      <!-- map -->
<!--       <div
        id="map"
        style="height: 300px; width: 600px"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div> -->
    </div>
  </div>
<% end %>
