  <% unless @bands.nil?%>
    <h1>bands</h1>
    <ul>
      <% @bands.each  do |band| %>
       <li><%= link_to band.name ,band_path(band) %></li>
      <% end %>
    </ul>
    <div
      id="map"
      style="height: 300px; width: 600px"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  <% end %>

  <% unless @musicians.nil? %>

    <h1>musicians</h1>
      <ul>
        <% @musicians.each  do |musician| %>
        <li><%= link_to musician.username, public_profile_path(musician) %></li>
          <% end %>
      </ul>
    <div
      id="map"
      style="height: 300px; width: 600px"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <% end %>

