<!-- <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:220px; left: 450px; bottom:0; width:100%; }
</style> -->

<!-- band search -->

<!-- text -->
<% unless @bands.nil?%>


  <h2 class="title"><strong>23</strong> search results</h1>
    <div class="card-container">
      <div class="d-flex">
        <ul style='padding-inline-start: 0px;'>
          <% @bands.each do |band| %>
            <div class="card-band">
              <li><%= link_to band.name ,band_path(band) %></li>
              <div class="card-band-infos">
                <li><%=  band.bio %></li>
              </div>
            </div>
          <% end %>
        </ul>

        <% @results = [] %>
      <!-- convert to hash -->
        <% @bands.each do |b| %>
          <% band = {} %>
          <% band["lat"] = b.latitude%>
          <% band["long"] = b.longitude %>
          <% @results.push(band) %>
        <% end %>

      <%= link_to "See map", map_path({results:"#{@results}"}) %>
      <!-- map -->
      <div
        id="map"
        class="map-custom"
        style="height: 100%; width: 100%"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
<% end %>

<!-- musician search -->

<!-- text -->
<% unless @musicians.nil? %>

  <div class="card-container">

  <div class="container">
    <h1 class="title">Musicians</h1>
      <div class="d-flex">
        <ul style='padding-inline-start: 0px;'>
          <% @musicians.each do |musician| %>
            <div class="card-product">
              <li><%= link_to musician.username, public_profile_path(musician) %></li>
              <div class="card-product-infos">
                <li> musician.bio%></li>
              </div>
            </div>
          <% end %>
        </ul>


    <% @results = [] %>
    <!-- convert to hash -->
    <% @musicians.each do |m| %>
      <% musician = {} %>
      <% musician["lat"] = m.latitude%>
      <% musician["long"] = m.longitude %>
      <% musician["address"] = m.address %>
      <% musician["username"] = m.username %>
      <% @results.push(musician) %>
    <% end %>

      <%= link_to "See map", map_path({results:"#{@results}"}) %>

      <!-- map -->
      <div
        id="map"
        style="height: 300px; width: 600px"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
<% end %>
