<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1 class="">New Band</h1>
      <%= simple_form_for(@band, :html => { :multipart => true }) do |f| %>
        <%= f.input :name %>
        <%= f.input :youtube_link %>
        <%= f.input :personal_website %>
        <%= f.input :soundcloud_link %>
        <%= f.input :bio %>
        <%= f.input :address %>
         <%= f.fields_for :band_photos do |p| %>
          <div class="field">
            <%= p.label :photo %><br>
            <%= p.file_field :photo, :multiple => true, name:     "band_photos[photo][]" %>
          </div>
          <% end %>
        Are you open for :
        <%= f.input :is_cover, label: "Covering"%>
        <%= f.input :is_live ,label: "Live" %>
        <%= f.input :is_recording,label:"recoding" %>
        <%= f.input :is_jamming , label: "jammings"%>
        <%= f.input :is_composition, label: "composition"%>
        <%=  f.input :is_pro, label:"professionnel" %>
        <%= f.submit "Add band", class: "btn btn-primary" %>
        <%= link_to "Cancel", dashboard_path(current_user), class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>
