<% choice = params[:choice].to_i %>

<% if choice == 1 %>

<!-- SEARCHING FOR MUSICIAN -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
     <div class="searchform">
      <form action="/bands" method="get">
        <div class="form-group">
          <label for="exampleFormControlSelect1">What sound is missing in your band?</label>
          <select class="form-control" id="exampleFormControlSelect1" name="instruments">

            <% Instrument.all.each do |instrument| %>
            <option><%= instrument.name %></option>
            <% end %>
          </select>
        </div>

        <br>

        <div class="all-filters">
          <% Style.all.each do |style| %>
          <div class="filter-input">
            <label class="stylebutton">
              <%= style.name %>
            </label>
            <input type="checkbox" name="style[]" value="<%= style.name %>" />
          </div>
          <% end %>
        </div>

        <br>

        <p>What location ?</p>
        <input type="text" name="address" placeholder="Address" id="address">
        <br>
        <div>
          <label for="current_position">use my current position</label>
          <input type="checkbox" name="current_position" id="current-position">
        </div>

        <div class="slidecontainer">
          <input type="range" min="1" max="10" value="5" class="slider" id="slide">
        </div>
        <input type="text" name="slider" placeholder="distance (km)" id="range" >
        <input type="hidden" name="myposition" value=1>
        <br>
        <input type="hidden" name = "pos" id="position">
      </div>
    </div>
  </form>
</div>
<div class="morefilters">
  <button class="extrafilters" type="submit"> <%= link_to "MORE FILTERS", filter_path(filter:1)%></button>
</div>
</div>
<button class="searchbutton link-to-text-color findbutton" type="submit">FIND A MUSICIAN</button>
<br>

<% else %>

<!-- SEARCHING FOR BAND -->
<div class="margin">
  <div class="searchform col-12 col-md-6" style="width: 100%">
    <form action="/bands" method="get">
      <div class="form-group">
        <label for="exampleFormControlSelect1">What instrument do you play?</label>
        <select class="form-control search-band-select" id="exampleFormControlSelect1" name="instruments">
          <% Instrument.all.each do |instrument| %>
          <option><%= instrument.name %></option>
          <% end %>
        </select>
      </div>

      <br>

      <div class="all-filters">
        <% Style.all.each do |style| %>
        <div class="filter-input">
          <label class="stylebutton">
            <%= style.name %>
          </label>
          <input type="checkbox" name="style[]" value="<%= style.name %>" />
        </div>
        <% end %>
      </div>

      <br>

      <input type="text" name="Address" placeholder="Address" id="address">
      <br>
      <div>
        <label for="current_position">use my current position</label>
        <input type="checkbox" name="current_position" id="current-position">
      </div>

      <div class="slidecontainer">
        <label for="slide">Distance</label>
        <input type="range" min="0" max="30" value="15" class="slider" id="slide">
        <input type="text" name="slider" placeholder="km" id='range-value' hidden>
        <br>
        <br>
        <div class="range-labels">
          <span class="spanslide">1km</span>
          <span class="spanslide">15km</span>
          <span class="spanslide">30km</span>
        </div>
      </div>

      <div class="slidecontainer">
        <label for="slide">Experience</label>
        <input type="range" min="1" max="3" value="2" class="slider" id="slider">
        <input type="text" name="experience" placeholder="experience" id="range-value" hidden>
        <br>
        <br>
        <div class="range-labels">
          <span class="spanslide">beginner</span>
          <span class="spanslide">intermediate</span>
          <span class="spanslide">expert</span>
        </div>
      </div>

      <div class="all-filters">
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_jamming" value="true" checked/>Jamming
          </label>
        </div>
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_live" value="true" checked/>Play Live
          </label>
        </div>
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_composition" value="true" checked/>Write Songs
          </label>
        </div>
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_recording" value="true" checked/>Record Albums
          </label>
        </div>
        <div class="filter-input">
          <label class="stylebutton">
            Cover Band
          </label>
            <input type="checkbox" name="is_cover" value="true" checked/>
        </div>
        <br>
        <br>
<div id="double-slider">
  <label for="slide">Age ?</label>
  <input type="text" class="js-range-slider" name="doubleslider" value="" />
  <input type="text" name="age" id="age-range-values" hidden>
</div>
      </div>
    </div>
    <button class="searchbutton link-to-text-color findbutton" type="submit">FIND A BAND</button>
  </form>
</div>
<div class="morefilters">
  <button class="extrafilters" type="submit"><%= link_to "MORE FILTERS", filter_path(filter:2)%></button>
</div>
</div>
<% end %>

<br>

<script>
export("../plugins/slider")
export("../plugins/current-position")
</script>
