<% choice = params[:choice].to_i %>

<% if choice == 1 %>
 <!-- searching for musician -->

 <div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
       <div class="searchform">
        <form action="/bands" method="get">
          <div class="form-group">
            <label for="exampleFormControlSelect1">What sound is missing in your band?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="instruments">

              <% Instrument.all.each do |instrument| %>
                <option><%= instrument.name %></option>
              <% end %>
            </select>
          </div>



          <div class="all-filters">

            <% Style.all.each do |style| %>
              <div class="filter-input">
                <label class="stylebutton">
                  <%= style.name %>
                </label>
                  <input type="checkbox" name="style[]" value="<%= style.name %>" />
              </div>
            <% end %>

          </div>

          <br>
          <input type="text" name="address" placeholder="Address" id="address">
          <br>
          <div class="slidecontainer">
            <input type="range" min="1" max="10" value="5" class="slider" id="slide">
          </div>
          <input type="text" name="slider" placeholder="distance (km)" id="range">
          <input type="hidden" name="choice" value=1>
          <br>
          <div>
          <label for="current_position">use my current position</label>
          <input type="checkbox" name="current_position" id="current-position">
          </div>
          <input type="hidden" name = "pos" id="position">
      </div>
    </div>
    </form>
  </div>
    <div class="morefilters">
      <button class="extrafilters" type="submit"> <%= link_to "MORE FILTERS", filter_path(filter:1)%></button>
    </div>
</div>
    <button class="searchbutton link-to-text-color findbutton" type="submit">FIND A MUSICIAN</button>
<br>

<% else %>
<!-- searching for band -->
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="searchform">
        <form action="/bands" method="get">
          <div class="form-group">
            <label for="exampleFormControlSelect1">What instrument do you play?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="instruments">

                  <% Instrument.all.each do |instrument| %>
                    <option><%= instrument.name %></option>
                  <% end %>
                </select>
              </div>

              <% Style.all.each do |style| %>
                <label class="stylebutton">
                  <input type="checkbox" name="styles[]" value="<%= style.name %>"/>
                  <%= style.name %>
                </label>
              <% end %>
          <br>
          <input type="text" name="Address" placeholder="Address" id="address">
          <br>
          <div class="slidecontainer">
            <input type="range" min="1" max="10" value="5" class="slider" id="slide">
          </div>
          <input type="text" name="slider" placeholder="km" id='range'>

          <input type="hidden" name="choice" value=2>
          <br>
          <div>
          <label for="current_position">use my current position</label>
          <input type="checkbox" name="current_position" id="current-position">
          </div>
          <br>


          <input type="hidden" name = "pos" id="position">

        </div>
      </div>

    </div>
    <button class="searchbutton link-to-text-color findbutton" type="submit">FIND A BAND</button>

    </form>
  </div>
  <div class="morefilters">
    <button class="extrafilters" type="submit"> <%= link_to "MORE FILTERS", filter_path(filter:2)%></button>
  </div>
</div>


<% end %>

<br>
<script>
  let slider = document.getElementById("slide");
let output = document.getElementById("range");
output.value = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  output.value = this.value;
}

</script>

<script>

  const inputButton = document.querySelector('#current-position')
  const inputForAddress = document.querySelector('#address')

  inputButton.addEventListener('click', e => {
    if (e.target.checked) {
      // const currentPosition = new Map
      let string = ''
      const location = navigator.geolocation.getCurrentPosition( e => {
        document.getElementById("address").disabled = true;
        const latitude = e.coords.latitude
        const longitude = e.coords.longitude
        coordinates = `${latitude.toString()}, ${longitude.toString()}`
        inputForAddress.value = `${coordinates}`
      });
    }

  })

</script>

