<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>
<% choice = params[:choice].to_i %>

<% if choice == 1 %>

<!-- SEARCHING FOR MUSICIAN -->


<div class="margin">
  <div class="searchform col-12 col-md-6" style="width: 100%">
    <form action="/bands" method="get">
      <div class="form-group">
        <label for="exampleFormControlSelect1">What instrument are you looking for?</label>
        <select class="form-control search-band-select" id="exampleFormControlSelect1" name="instruments">
          <% Instrument.all.each do |instrument| %>
          <option><%= instrument.name %></option>
          <% end %>
        </select>
      </div>

      <br>

      <div class="all-filters">
        <% Style.all.each do |style| %>
        <div class="filter-input">
          <label class="stylebutton">
            <%= style.name %>
          </label>
          <input type="checkbox" name="style[]" value="<%= style.name %>" />
        </div>
        <% end %>
      </div>

      <br>

      <input type="text" name="Address" placeholder="Address" id="address">
      <br>
      <div>
        <label for="current_position">Use my current position</label>
        <input type="checkbox" name="current_position" id="current-position">
      </div>

      <div class="slidecontainer">
        <label for="slide">Distance</label>
        <input type="range" min="0" max="30" value="15" class="slider" id="slide">
        <input type="text" name="slider" placeholder="km" id='range-value' hidden>
        <br>
        <br>
        <div class="range-labels">
          <span class="spanslide">1km</span>
          <span class="spanslide">15km</span>
          <span class="spanslide">30km</span>
        </div>
      </div>

      <div class="slidecontainer">
        <label for="slide">Experience</label>
        <input type="range" min="1" max="3" value="2" class="slider" id="slider">
        <input type="text" name="experience" placeholder="experience" id="range-value" hidden>
        <br>
        <br>
        <div class="range-labels">
          <span class="spanslide">beginner</span>
          <span class="spanslide">intermediate</span>
          <span class="spanslide">expert</span>
        </div>
      </div>

      <div class="all-filters">
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_jamming" value="true" checked/>Jamming
          </label>
        </div>
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_live" value="true" checked/>Play Live
          </label>
        </div>
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_composition" value="true" checked/>Write Songs
          </label>
        </div>
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_recording" value="true" checked/>Record Albums
          </label>
        </div>
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_cover" value="true" checked/>Cover Band
          </label>
        </div>
      </div>
    </div>
    <button class="searchbutton link-to-text-color findbutton" type="submit">FIND A MUSICIAN</button>
  </form>
</div>
<div class="morefilters">
  <button class="extrafilters" type="submit"><%= link_to "MORE FILTERS", filter_path(filter:2)%>

  </button>
</div>













<% else %>

<!-- SEARCHING FOR BAND -------------------------------------------------------------->
<div class="margin">
  <div class="searchform col-12 col-md-6" style="width: 100%">
    <form action="/bands" method="get" id ="1">
<!-- part 1******************** -->
<div class = "sliding">
  <div class=slideright>

        <div class="form-group">
        <label for="exampleFormControlSelect1">What instrument do you play?</label>
        <select class="form-control search-band-select" id="exampleFormControlSelect1" name="instruments">
          <% Instrument.all.each do |instrument| %>
          <option><%= instrument.name %></option>
          <% end %>
        </select>
      </div>

      <br>
      <p>Your musical styles</p>
      <div class="all-filters">
        <% Style.all.each do |style| %>
        <div class="filter-input">
          <label class="stylebutton">
            <%= style.name %>
          </label>
          <input type="checkbox" name="style[]" value="<%= style.name %>" />
        </div>
        <% end %>
      </div>

      <br>
      <p>What Location ?</p>
      <div style="position: relative;">
        <input type="text" name="Address" placeholder="Address" id="address">
        <input
          style="
            position: absolute;
            right: 15px;
            bottom: 10px;
            width: 20px;
            height: 20px;
            opacity: 0;
          "
          type="checkbox"
          name="current_position"
          id="current-position"
        >
        <span style="
          float: right;
          font-size: 13px;
          margin-top: 5px;
          margin-right: 5px;
          color: #ffffff4f;
        ">click for geolocalization</span>
      </div>
      <br>

      <div class="slidecontainer">
        <label for="slide">Distance</label>
        <input type="range" min="0" max="30" value="15" class="slider" id="slide">
        <input type="text" name="slider" placeholder="km" id='range-value' hidden>
        <br>
        <br>
        <div class="range-labels">
          <span class="spanslide">1km</span>
          <span class="spanslide">15km</span>
          <span class="spanslide">30km</span>
        </div>
      </div>

      </div>
      <!-- part 2************************************ -->
<div class = "slideleft d-none">
      <div class="slidecontainer">
        <label for="slide">Experience</label>
        <input type="range" min="1" max="3" value="2" class="slider" id="slider">
        <input type="text" name="experience" placeholder="experience" id="range-value" hidden>
        <br>
        <br>
        <div class="range-labels">
          <span class="spanslide">beginner</span>
          <span class="spanslide">intermediate</span>
          <span class="spanslide">expert</span>
        </div>
      </div>

      <p>You are open to</p>
      <div class="all-filters">
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_jamming" value="true" checked/>Jamming
          </label>
        </div>
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_live" value="true" checked/>Play Live
          </label>
        </div>
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_composition" value="true" checked/>Write Songs
          </label>
        </div>
        <div class="filter-input">
          <label class="stylebutton">
            <input type="checkbox" name="is_recording" value="true" checked/>Record Albums
          </label>
        </div>
        <div class="filter-input">
          <label class="stylebutton">
            Cover Band
          </label>
          <input type="checkbox" name="is_cover" value="true" checked/>
        </div>
        <br>
        <br>
        <div id="double-slider">
          <label for="slide">Age</label>
          <input type="text" class="js-range-slider" name="doubleslider" value="" />
          <input type="text" name="age" id="age-range-values" hidden>
        </div>
      </div>

      <p>Demographics</p>
      <div class="all-filters">
        <div class="filter-input">
          <label class="stylebutton">
           Female
         </label>
         <input type="checkbox" name="female" value="true" />
       </div>
       <div class="filter-input">
        <label class="stylebutton">
         Male
       </label>
       <input type="checkbox" name="female" value="true" />
     </div>
   </div>

 </div>
</div>
<button class="searchbutton link-to-text-color findbutton" type="submit">FIND A BAND</button>
</form>

</div>
  <div class="morefilters">
    <button class="extrafilters link-to-text-color findbutton" id="btnmore" type="submit">MORE FILTERS</button>
    <button class="extrafilters link-to-text-color findbutton d-none" id="btnless" type="submit">LESS FILTERS</button>
  </div>
</div>
<% end %>

<script>
// btn = document.querySelector('.extrafilters')
const element1 =  document.querySelector('.slideright')
const element2 =  document.querySelector('.slideleft')
btnmore = document.querySelector('#btnmore')
btnless = document.querySelector('#btnless')
btnmore.addEventListener('click', e => {
  element2.classList.toggle('d-none')
  element1.classList.toggle('d-none')
  element2.classList.remove('animated', 'slideOutRight')
  element2.classList.add('animated', 'slideInRight')
  element2.classList.remove('d-none')
  element1.classList.remove('animated', 'slideInLeft')
  element1.classList.add('animated', 'slideOutLeft')
  btnmore.classList.toggle('d-none')
  btnless.classList.toggle('d-none')
});
btnless.addEventListener('click', e => {
  element2.classList.toggle('d-none')
  element1.classList.toggle('d-none')
  element2.classList.remove('animated', 'slideInRight')
  element2.classList.add('animated', 'slideOutRight')
  element2.classList.remove('d-none')
  element1.classList.remove('animated', 'slideOutLeft')
  element1.classList.add('animated', 'slideInLeft')
  btnmore.classList.toggle('d-none')
  btnless.classList.toggle('d-none')
});
</script>
