<p class="bandimage">BAND PHOTOS</p>

<div class="mybands">
  <div class="titlename">
  <%= link_to(image_tag("chaticon.png", size: "70"), conversation_path(@band.user), :class => 'msgbtn') %>
    <h1><%= @band.name %></h1>
    <h4>Manager : <%= link_to @band.user.username, public_profile_path(@band.user.id) %></h4>
    <h6><%= @band.address %></h6>
  <div class="tabs">
    <div class="tab-2">
      <label for="tab2-1">BIO</label>
      <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <div>
      <p><em><%= @band.bio %></em>
      <br>
      <br>
      <!-- Website: <strong><%= link_to @band.personal_website %></strong> -->
      <br>
      <div class="socialmedia">
        <%= link_to(image_tag("webicon.svg", size: "64", :class => 'webbtn'), @band.personal_website) %>
        <iframe class="soundcloudimg" allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2F%3C%25%3D%20%40band.name%25%3E&color=orange_white&size=64" style="width: 64px; height: 64px;"></iframe>
        <iframe class="youtubeimg" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="64" height="64" type="text/html" src="https://www.youtube.com/embed/0s6U_LKSG_M?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"><div><small><a href="https://youtubeembedcode.com/nl/">youtubeembedcode nl</a></small></div><div><small><a href="http://add-link-exchange.com">visit</a></small></div><div><small><a href="https://youtubeembedcode.com/nl/">youtubeembedcode.com/nl/</a></small></div><div><small><a href="http://add-link-exchange.com">add-link-Exchange</a></small></div></iframe>
      </div>

      <br>
      <p class="styleheader"><em>Style</em></p>
      <span class="bandstyle">Enter Styles</span>

    </div>
  </div>
    <div class="tab-2">
      <label for="tab2-2">DETAILS</label>
      <input id="tab2-2" name="tabs-two" type="radio">
    <div>
      <p class="styleheader"><em>Members</em></p>
      <span class="bandstyle">User Name</span>
      <br>
      <p class="styleheader"><em>Experience</em></p>
      <span class="bandstyle"><%= @band.experience %></span>
      <br>
      <p class="styleheader"><em>Favorite Artists</em></p>
      <span class="bandstyle">Insert Artists</span>
      <br>
      <p class="styleheader"><em>Open To</em></p>
      <span class="bandstyle">Insert open</span>


      <!-- <p>Open to play live: <strong><%= @band.is_live %></strong>
      <br>
      Open to album recording: <strong><%= @band.is_recording %></strong>
      <br>
      Open for just jamming: <strong><%= @band.is_jamming %></strong>
      <br>
      Open to composing: <strong><%= @band.is_composition %></strong>
      <br>
      Open to playing covers:  <strong><%= @band.is_cover %></strong> -->

      </p>
    </div>
  </div>
</div>
