<div class="mybands">
  <h1><%= @band.name %></h1>
  Bio: <strong><%= @band.bio %></strong>
  <br>
  Address: <strong><%= @band.address %></strong>
  <br>
  Youtube link: <strong><%= @band.youtube_link %></strong>
  <br>
  Personal website: <strong><%= @band.personal_website %></strong>
  <br>
  Soundcloud link: <strong><%= @band.soundcloud_link %></strong>
  <br>
  Open to play live: <strong><%= @band.is_live %></strong>
  <br>
  Open to album recording: <strong><%= @band.is_recording %></strong>
  <br>
  Open for just jamming: <strong><%= @band.is_jamming %></strong>
  <br>
  Open to composing: <strong><%= @band.is_composition %></strong>
  <br>
  Open to playing covers:  <strong><%= @band.is_cover %></strong>
  <br>
  Experience: <strong><%= @band.experience %></strong>
  <br>
</div>
