<div class="manager-container">

    <div style="position: absolute; right: 4%; display: flex;">
      <div style="padding-top: 4px; padding-right: 6px; font-family: 'Roboto'; font-size: 16px;"><em>Manager :</em></div>
      <div style="padding-top: 4px; padding-right: 6px"><%= link_to @band.user.username.capitalize, public_profile_path(@band.user.id), :class => 'manager' %></div>
    </div>
</div>

<div class="image-container">
  <div class="bandimage">
    <% @band.band_photos.each do |ph| %>
       <div class="slideImage"><%= cl_image_tag(ph.photo)%>
       </div>
    <% end %>
  </div>
</div>
 <% unless current_user.nil? %>
    <div class="starprofile">
      <%= button_to stars_path(@band), class: "starbtn", method: :post, id:"favorite_link-#{@band.id}",remote:true  do %>
      <% if @band.favorited_by?(current_user) %>
      <i class="fas fa-star"></i>
      <% else %>
      <i class="far fa-star"></i>
      <% end %>
      <% end %>
    </div>
  <% end %>

<div class="mybands">
  <div class="titleband margin">
    <%= link_to(image_tag("chaticon.png", size: "72"), conversation_path(@band.user)) %>
    <h3><%= @band.name.upcase %></h3>
    <h5><%= @band.address.split(" ").last %></h5>
  </div>
  <div style="display:flex; height: 0px; position: absolute; z-index: 99999999999999999; width: 100%">
    <div class="hii">BIO</div>
    <div class="hii">MUSIC</div>
  </div>

<!-- BIO TAB -->
  <div class="tabs">
    <div class="tab-2" >
      <label for="tab2-1" id="tabz">BIO</label>
      <input id="tab2-1" name="tabs-two" type="radio" checked="checked" class="tabz-thing">
      <div>
        <div class="margin profile-bio">"<%= @band.bio %>"</div>
        <br>
        <div class="website"><i class="fas fa-globe"></i> <em><%= link_to @band.personal_website, class: 'website' %></em></div>
        <br>
        <br>
        <div class="bottombioelements">
          <div class="lookexperience">
            <div class="lookinfor">
              <p class="styleheader"><em>Looking for:</em></p>
                <% @band.instruments.each do |instrument| %>
                <% if instrument.name == "Piano"   %><span class="bandstyle">Pianist</span>
                <% elsif instrument.name == "Guitar" %> <span class="bandstyle">Guitarist</span>
                <% elsif instrument.name == "Bass" %> <span class="bandstyle">Bassist</span>
                <% elsif instrument.name == "Drums" %> <span class="bandstyle">Drummer</span>
                <% else instrument.name == "Vocals" %> <span class="bandstyle">Singer</span>
                <% end %>
                <% end %>
              </div>
              <br>
              <div class="experiencelevel">
                <p class="styleheader"><em>Experience:</em></p>
                <span class="bandstyle"><% if @band.experience == "1" %>
                    Beginner
                  <%elsif @band.experience == "2" %>
                    Intermediate
                  <% else %>
                    Advanced
                  <% end %>
                </span>
              </div>
            </div>
            <br>
            <p class="styleheader"><em>Open to:</em></p>
          <div class="opentype">
            <%if @band.is_live? %><span class="openstyle"> Live</span><% end %>
            <%if @band.is_recording?%><span class="openstyle">Recording</span><% end %>
            <%if @band.is_jamming? %><span class="openstyle">Jamming</span><% end %>
            <%if @band.is_composition? %><span class="openstyle">Composition</span><% end %>
            <%if @band.is_cover? %><span class="openstyle"> Covers</span><% end %>
            </p>
          </div>
        </div>
        <br>
      </div>
    </div>


<!-- DETAILS TAB -->
    <div class="tab-2">
      <label for="tab2-2" id="tabz">MUSIC</label>
      <input id="tab2-2" name="tabs-two" type="radio" class="tabz-thing">
        <div class="soundcloudbox">
          <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/605233650&color=%23745dc6&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

          <!-- YouTube Modal Button -->
          <div class="bs-example">
          <!-- Button HTML (to Trigger Modal) -->
            <a href="#myModal" class="btn btn-lg btn-danger" data-toggle="modal"><i class="fab fa-youtube"></i></a>
          <!-- Modal HTML -->
            <div id="myModal" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content modalmargin">
                  <div class="modal-body">
                    <iframe id="musicVideo" width="100%" height="315" src="https://www.youtube.com/embed/dKDcK-PPl4Y" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

            </div>
          </div>
        </div>
      </div>
    </div>

